html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

canvas {
    border: 2px solid rgb(240, 240, 240);
    width: 100%;
}


.brushOptions {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #f7f7ff;
}

#slider {
    display: block;
    width: 95%;
    margin: 10px auto;
}

.palette {
    background: #fff;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.color {
    cursor: pointer;
    flex: 1;
    height: 50px;
    max-width: 50px;
    border-radius: 20px;
}

.color:hover { opacity: 0.7 }
.selected { border: 5px double white}

.black { background: black }
.blue { background: blue }
.purple { background: purple }
.red { background: red }
.orange { background: orange }
.pink { background: pink }